// bootstrap variables overrides
$brand-primary: #379ae9 !default;
$enable-flex: false !default;

// site colors
$black: #ccc;
$gray: #878787;
$highlight-yellow: #fec324;
$white: #fff;
$black-shadow: rgba(0, 0, 0, .075);

//fonts
$font-color: #333;
$font-stack: Helvetica Neue, Lato, Helvetica, Arial, Verdana, Lucida Grande, sans-serif;


// paint 
$global-section-border-color: #ececec !default;
$dropdown-background-color: $gray ;
$dropdown-border-color: $gray ;
$anchor-font-color: $gray;
$small-font-color: $gray;
$font-weight-bold: 400 !default;
$font-weight-extrabold: 600 !default;
$font-weight-normal: 300 !default;

@mixin icon($name) {
	  @include fa-icon;
	  @extend .fa-#{$name};
	}