.as-calendar-timetable-occurrence {
  .resize-handle {
    bottom: 0;
    cursor: ns-resize;
    height: 1rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  &:hover {
    .remove {
      opacity: 1;
    }
  }

  .remove {
    @include transition(color, 150ms);
    @include transition(opacity, 150ms);
    @include icon(times);

    color: $white;
    opacity: 0;
    position: absolute;
    right: 0;
    top: $grid-gutter-width / 8;

    &:hover {
      background-color: transparent;
      color: darken($brand-warning, 10%);
    }
  }
}
