<div class="row">
<div class="col-md-12">
	<h1 class="page-header">Organizations</h1> 
	{{#link-to "dashboard.organizations.add" class="btn btn-link pull-right"}}
 Add  Organization{{/link-to}} 
</div>
</div>
{{outlet}}
{{outlet 'modal'}}