<div class="row">
<div class="col-md-12">
	<h1 class="page-header">Organizations   {{#link-to "dashboard.organizations.add" class="btn btn-link pull-right"}}
 Add  Organization{{/link-to}}</h1>  
</div>
</div>
{{outlet}}
{{outlet 'modal'}}