{{as-calendar
  title="Sessions"
  occurrences=occurrences
  timeZone=userTimeZone
  dayStartingTime="9:00"
  dayEndingTime="18:00"
  timeSlotDuration="00:30"
  showTimeZoneSearch=false
  onAddOccurrence="calendarAddOccurrence"
  onUpdteOccurrence="calendarUpdateOccurrence"
  onRemoveOccurrence="calendarRemoveOccurrence"
  }}
  <small class="text-muted">User time zone: {{userTimeZone}}</small>

<div class="page-content">
{{outlet}}
{{outlet 'modal'}}
</div>
