{{as-calendar
  title="Sessions"
  occurrences=occurrences
  timeZone="New York"
  dayStartingTime="9:00"
  dayEndingTime="18:00"
  timeSlotDuration="00:30"
  showTimeZoneSearch=false
  onAddOccurrence="calendarAddOccurrence"
  onUpdteOccurrence="calendarUpdateOccurrence"
  onRemoveOccurrence="calendarRemoveOccurrence"
  }}

<div class="page-content">
{{outlet}}
{{outlet 'modal'}}
</div>
