	<form {{action 'save' model on="submit" }}>
{{trainer-edit model=model actionName='Add' callback='userIsTrainerChanged' userIsTrainer=userIsTrainer content=userOrganizations hasValidationErrors=hasValidationErrors errors=errors}}
</form>