{{outlet}}	
<div class="row">
  {{#each model as |trainer|}}
    <div class="col-md-5 col-lg-4">
    	<div class="card card-inverse card-trainer">
        <div class="card-block">
          <div class="card-edits  card-trainer">
            {{#link-to 'dashboard.trainers.edit' trainer.id class="btn"}}<i class="fa fa-edit" tooltip="Edit Trainer"></i>{{/link-to}}
            <a class="btn" {{action 'showModal' 'confirm-delete' trainer}}><i class="fa fa-trash" tooltip="Delete Trainer"></i></a>
          </div>
          <h3 class="card-title">{{trainer.name}}</h3>
        </div>
        {{img-liquid image=trainer.image fill=true horizontalAlign="center" verticalAlign="50%"}}
        <div class="card-block">
       
        </div>
      </div>
    </div>
  {{/each}}
</div>

