.as-calendar-header {
  @extend .row;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid;

  .week-button-group{
    @extend .btn-group;
  }

  nav,
  h1 {
    line-height: $line-height-sm;
  }

  h1 {
    @extend .col-md-6;
  }

  nav {
    @extend .col-md-6;

    text-align: right;

    > ul {
     // @extend .btn-group;

      > li {
        padding: $grid-gutter-width / 4 0;
      }
    }

    .next-week{
      @extend .btn;
      @include icon(chevron-right);
      line-height: 1.5rem;
    }
    .previous-week{
      @extend .btn;
      @include icon(chevron-left);
      line-height: 1.5rem;
    }

    .current-week {
      @extend .btn;
      &:disabled {
        @extend .disabled
      }
    }

   
  }
}
