  .as-calendar-occurrence {
  background-color: rgba($brand-warning, .8);
  border-left: 2px solid darken($brand-warning, 5%);
  color: $white;
  left: 0;
  padding: 0 $grid-gutter-width / 4;
  position: absolute;
  right: 0;

  > div {
    height: 100%;
    position: relative;
  }

  h1 {
    color: $white;
    font-size: .9rem;
    font-weight: $font-weight-extrabold;
  }
}
