{{outlet}}	
<div class="row">
  {{#each model as |invite|}}
    <div class="col-md-5 col-lg-4">
    	<div class="card card-inverse card-invite">
        <div class="card-block">
          <div class="card-edits  card-invite">
            {{#link-to 'dashboard.invites.edit' invite class="btn"}}<i class="fa fa-edit" tooltip="Edit Invite"></i>{{/link-to}}
            <a class="btn" {{action 'showModal' 'confirm-resend' invite}}><i class="fa fa-repeat" tooltip="Resend Invite"></i></a>
            <a class="btn" {{action 'showModal' 'confirm-delete' invite}}><i class="fa fa-trash red" tooltip="Delete Invite"></i></a>
          </div>
          <h3 class="card-title">{{invite.name}}</h3>
        </div>        
        <div class="card-block">
         	
        </div>
      </div>
    </div>
  {{/each}}
</div>
