<header>
   <h1>
    {{#link-to "index"}}<strong>ignite</strong>it·io{{/link-to}}
  </h1>
  <nav class="navbar-fixed">
  	{{#unless session.currentUser}}
      {{#link-to "register"}}Register{{/link-to}}     
    {{/unless}}
    {{#if session.currentUser}}
       {{#link-to "dashboard"}}Dashboard{{/link-to}}
       {{#link-to "account.manage"}}Account{{/link-to}}
       <a class="ember-view" href="" {{action 'signOut'}}>Logout</a>
        {{gravatar-image email=session.currentUser.email 
          defaultImage='identicon'
          class='img-circle img-responsive'
          size=60}}
    {{else}}
      {{#link-to "login"}}Login{{/link-to}}
    {{/if}}
  </nav>
</header>
<section class="main-content ">       
    {{outlet}} 
</section>

