
{{#modal-small model=model title='Confirm Resend'  ok='delete' okText='Delete' okClass="btn-danger" close='removeModal'}}
	<p>Are you sure you want to delete: <strong class="text-danger">{{model.name}}</strong>?</p>
	<p class="text-danger">Warning: This data will be deleted permanently</p>
{{/modal-small}}